{% extends 'website/base.html' %}

{% block meta %}
    <title>{% if category.seo_title %}{{ category.seo_title }}{% else %}{{ category.name }}{% endif %}</title>
    <meta name="description" content="{% if category.seo_description %}{{ category.seo_description }}{% else %}{{ category.description }}{% endif %}" />
{% endblock %}

{% block heading %}
    <h1 class="display-4">Gallery: {{ category }}</h1>
    <p class="lead">{{ category.description }}</p>
    {% include 'gallery/menu.html' %}

    {% if user.is_superuser %}<a class="edit-button" href="{% url 'admin:gallery_gallerycategory_change' category.pk %}" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> Edit category "{{ category }}"</a>{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for gallery in galleries %}
        <div class="col-md-3">
            {% include 'gallery/result.html' %}
        </div>
        {% endfor %}
    </div>
{% endblock %}