{% extends 'website/base.html' %}
{% load avatar_tags %}

{% block heading %}
    <h1 class="display-4">Change profile image</h1>
    {% include 'accounts/navigation.html' %}
{% endblock %}

{% block content %}
<p>Your current image :</p>
{% avatar user %}

{% if not avatars %}
    <p>You haven't uploaded any images yet. Please upload one now.</p>
{% else %}
    <form method="POST" action="{% url 'accounts:avatar_change' %}">
        <ul>
            {{ primary_avatar_form.as_ul }}
        </ul>
        <p>{% csrf_token %}<input type="submit" value="Change avatar" /></p>
    </form>
{% endif %}

<form enctype="multipart/form-data" method="POST" action="{% url 'accounts:avatar_add' %}">
    {{ upload_avatar_form.as_p }}
    <p>{% csrf_token %}<input type="submit" value="Upload avatar" /></p>
</form>

{% endblock %}