{% extends 'website/base.html' %}

{% block meta %}
    <title>Activation complete - {{ config.SITE_TITLE }}</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block heading %}
    <h1 class="display-4">Thank you</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <p>Thank you for your registration. Your account has been activated. <a href="{% url 'login' %}">Go to your profile</a></p>
    </div>
{% endblock %}