{% extends 'website/base.html' %}

{% block meta %}
    <title>Activate your account - {{ config.SITE_TITLE }}</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block heading %}
    <h1 class="display-4">Confirm your email address</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>We have sent you a message with a confirmation link. Please click the link in the message to confirm your email address and complete the registration.</p>
        </div>
    </div>
{% endblock %}