{% if user.is_authenticated %}
<a href="{% url 'accounts:view_profile' %}" class="btn btn-secondary {% if request.resolver_match.view_name == 'accounts:view_profile' %}active{% endif %}">View Profile</a>
<a href="{% url 'accounts:update_profile' %}" class="btn btn-secondary {% if request.resolver_match.view_name == 'accounts:update_profile' %}active{% endif %}">Edit Profile</a>
<a href="{% url 'accounts:avatar_change' %}" class="btn btn-secondary {% if request.resolver_match.view_name == 'avatar_change' %}active{% endif %}">Change profile image</a>
<a href="{% url 'accounts:change_password' %}" class="btn btn-secondary {% if request.resolver_match.view_name == 'accounts:change_password' %}active{% endif %}">Change password</a>
{% if user.is_superuser %}<a href="{% url 'admin:index' %}" target="_blank" class="btn btn-secondary"><strong>Administration</strong></a>{% endif %}
{% endif %}