{% extends 'website/base.html' %}

{% block meta %}
    <title>Edit profile - {{ config.SITE_TITLE }}</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block heading %}
    <h1 class="display-4">Edit profile</h1>
    {% include 'accounts/navigation.html' %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>
        </div>
    </div>
{% endblock %}