{% extends 'website/base.html' %}

{% block meta %}
    <title>Login - {{ config.SITE_TITLE }}</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block heading %}
    <h1 class="display-4">Login</h1>
    {% include 'accounts/navigation.html' %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'signup' %}">Sign up now</a>.</p>
<p><a href="{% url 'password_reset' %}">Forgot something?</a></p>
{% endblock %}